img {
  max-width: 300px;
  border: 4px solid grey;
  border-radius: 20px;
}
div {
  margin-top: 10px;
  background-color: rgba(127, 255, 212, 0.868);
  text-align: center;
  list-style-position: inside;
  border-radius: 20px;
}
#cats {
  background-color: pink;
}
#dogs {
  background-color: rgb(178, 138, 7);
}
#rabbits {
  background-color: rgb(125, 60, 60);
}
#notOnList {
  font-size: 30px;
  font-weight: bold;
}